
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Radley:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



@media (min-width: 1024px) {
    #mobile-app {
      display: none;
    }
  
    #desktop-blocker {
      display: flex;
    }
  }
  
  @media (max-width: 1023px) {
    #mobile-app {
      display: block;
      height: 100dvh;
      background-color: #eeede7;
    }
  
    #desktop-blocker {
      display: none;
    }
  }
  
  #desktop-blocker {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #F8F7F5; 
  }
  